
@media (min-width: 992px){
    .nav-content{
        padding-left: 165px !important;
    }
}

.head-title{
    position: absolute;
    left: 680px;
    color: #265b6e;
}

.logo {
    line-height: 1;
  }
  
  @media (min-width: 1200px) {
    .logo {
      width: 280px;
    }
  }
  
  .logo img {
    max-height: 26px;
    margin-right: 6px;
  }
  
  .header {
    transition: all 0.5s;
    z-index: 105;
    height: 60px;
    padding-left: 20px;
    padding-right: 30px
  }
  .header .head-title {
    min-width: 360px;
    padding: 0 20px;
  }

  .header-nav ul {
    list-style: none;
  }
  
  .header-nav>ul {
    margin: 0;
    padding: 0;
  }
  
  .header-nav .nav-icon {
    font-size: 22px;
    color: #265b6e;
    margin-right: 25px;
    position: relative;
  }  
  .header-nav .notifications {
    inset: 8px -15px auto auto !important;
  }
  

.header-nav .drop-menu{
    position: absolute;
    inset: 0px 0px auto auto;
    margin: 0px;
    transform: translate3d(-16px, 38.4px, 0px);
}
.header-nav .dropdown-toggle::after{
    display: none;
}