
<div class="sidebar" [ngClass]="{ 'expanded': isExpanded }">
    <div class="header">
      <div class="toggle" (click)="handleSidebarToggle()">
        <span class="chevron"></span>
      </div>
    </div>
    <div class="content">
      <div class="link">
        <div class="content" [routerLink]="['/dashboard']" [routerLinkActive]="'active'">
          <div class="icon">
            <i class="bi bi-house-door-fill"></i>
          </div>
          <div class="title">Dashboard</div>
        </div>
      </div>
      <div class="link with-children">
        <div class="content" [routerLink]="['/configuration']" [routerLinkActive]="'active'">
          <div class="icon">
            <i class="bi bi-briefcase-fill"></i>
          </div>
          <div class="title">Configuration</div>
        </div>
      
      </div>
      <div class="link">
        <div class="content" [routerLink]="['/bookings']" [routerLinkActive]="'active'">
          <div class="icon">
            <i class="bi bi-calendar3"></i>
          </div>
          <div class="title">Bookings</div>
        </div>
      </div>
    </div>
    <div class="footer"></div>
  </div>