
.chevron::before {
    border-style: solid;
    border-width: 0.15em 0.15em 0 0;
    content: "";
    display: inline-block;
    height: 0.35em;
    left: 0.15em;
    position: relative;
    top: 0.3em;
    vertical-align: top;
    width: 0.35em;
  }
  .sidebar {
    position: fixed;
    left: 0;
    top: 0;
  
    height: 100vh;
    transition: 0.3s;
  
    width: 60px;
    z-index: 107;
    &.expanded {
      width: 150px;
  
      .header {
        h1 {
          margin-left: 0px;
        }
        .chevron {
          margin-left: 0px;
          &::before {
            transform: rotate(-135deg);
          }
        }
      }
      .content {
        .link {
          .content {
            .title {
              max-width: 100px;
            }
            .icon {
              margin-right: 3px;
            }
          }
          .children {
            .content {
              padding-left: 30px;
            }
          }
        }
      }
    }
  
    background:#f6fafb;
    color: #6d6e7e;
  
    .header {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
  
      background: #f6fafb;
  
      h1 {
        font-size: 20px;
        color: #6d6e7e;
        margin: 0;
        flex: 1;
        transition: 0.3s;
  
        margin-left: -100px;
      }
  
      .chevron {
        color: #6d6e7e;
        cursor: pointer;
        transition: 0.3s;
        margin-left: -25px;
  
        padding: 10px;
        min-width: 20px;
        height: 20px;
        display: block;
        text-align: center;
  
        &::before {
          transition: 0.3s;
          transform: rotate(45deg);
        }
  
        &:hover {
          color: #5e8e9a;
        }
      }
    }
  
    .content {
      .link {
        .children {
          .content {
            background: #27283a;
            // padding-left: 30px;
            padding-left: 10px;
  
            &.active {
              background: #5e8e9a;
            }
          }
        }
        .content {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 10px;
  
          cursor: pointer;
  
          transition: 0.3s;
  
          &:hover {
            // background: #5e8e9a;
            border-left: 4px solid #265b6e;
            .title {
              color: #265b6e;
            }
            .bi{
                color: #265b6e;
            }
          }
  
          &.active {
            border-left: 4px solid #265b6e;
            .title {
              color: #265b6e;
            }
          }
  
          .icon {
            flex: 0 0 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 0px;
          }
          .title {
            flex: 1;
            // display: none;
            color: #6d6e7e;
            transition: 0.3s;
            max-width: 0px;
            overflow: hidden;
          }
        }
      }
    }
  }
  