.main-wrapper {
    background: rgb(239, 238, 238);
    height: 100vh;
    overflow: auto;
    overflow-x: hidden;
    display: flex
}

.global-width {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.main-content-area {
    width:100%;
    padding:15px;
}
